html {
	margin: 0;
	padding: 0;
	height: 100%
}

body {
	width: 100%;
	position: absolute;
	top: 0
	bottom: 0;
	left: 0;
	right: 0;
	background-color:white;

}

#wrapper {
	width: 900px;
	text-align: center;
	font-family: 'Roboto Mono';
	font-weight:bolder;
	margin: 0 auto;
	color: #333
}

h1 {
	color: #333;
	font-weight:bolder;
	font-size: 36px
}

nav {
	width: 800px;
	padding: 10px;
	margin: 0 auto
}

.navmenu {
	list-style: none;
	padding: 0;
	margin: 0
}

.navmenu li{
	width: 200px;
	position: relative;
	float: left
}

.navmenu li a{
	background: #333;
	color: #fff;
	display: block;
	padding: 5px 5px;
	text-decoration: none;
	border-bottom: 1px solid #222;

}

.navmenu li a:hover{
	color: #069;
}


nav {
	width: 1020px;
	margin: 0 auto
}

.navmenu {
	padding: 0;
	margin: 0 auto;
}

.navmenu li {
	width: 200px;
	position: relative;
	float: left;
	list-style: none;
}

.navmenu li a:link, .navmenu li a:visited{
	background: #333;
	color: #fff;
	display: block;
	padding: 5px 5px;
	text-decoration: none;
	border-bottom: 1px solid #222;

}

.navmenu li a:hover{
	color: #069;
}

/*.subnav {
	display: none;
	position: absolute;
	margin-left: 0px;
	list-style: none;
	padding:0px;
}

.subnav li {
	float: left;
	width: 200px;	
}

.subnav li a:link, .subnav li a:visited {
	display: block;
	height: 15px;
	padding: 7px 8px;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #222;
}

.subnav li a:hover {
	color: #333;
}*/

.button {
	text-decoration: none;
	text-align: center;
	display: inline;
	border-radius: 5px;
}

.button:hover{
	margin: 2px 0 0 2px;
t
}

footer {
	text-align: center;
	clear: both;
	color: #333;
}