<!-- <ul class="carousel">
	<li><img src="http://sports.cbsimg.net/images/visual/whatshot/Mets_111315.jpg" title="The Mets defeated the Dodgers 3-2, advancing to the NLCS." height="800" width="590"></li>
	<li><img src="http://crooksandliars.com/files/imagecache/node_primary/primary_image/15/09/democratic-presidential-candidates-debate.jpg" title="Pundits have declared Hillary Clinton the 'winner' of this week's Democratic debate." height="800" width="590"></li>
	<li><img src="http://exnba.com/wp-content/uploads/2014/07/lamar-odom-knicks.jpg" title="Former NBA star Lamar Odom remains in critical condition after being found unconscious in a Nevada brothel on Thursday." height="800" width="590"></li>
</ul>

<script type="text/javascript">
	$('.carousel').bxSlider({
		mode: 'fade',
		captions: true
	});
</script> -->