<style type="text/css">
      div {
      	font-family: 'Roboto Mono';
      	font-weight:bolder
      }

      p {

      text-align: center;
      font-family: 'Roboto Mono';
      font-weight:bolder
      }
</style>
<div>
	
</div>
<p>
	<b>Hello <%= @user.fname %>!</b>
</p>