<!DOCTYPE html>
<html>
<head>
	<title>BlogRails</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="wrapper">
		<nav>
			<ul class="navmenu">
				<li><a class="button" href="signup">Sign Up</a></li>
				<li><a class="button" href="login"/>Login</a></li>
				<li><a class="button" href="postsyoulike.html"/>Posts You Like</a>
					<ul class="subnav">
						<li><a class="button" href="thisweek.html">This Week</a></li>
						<li><a class="button" href="earlier.html">Earlier</a></li>
					</ul>
				</li>
				<li><a class="button" href="bestoftoday.html">Best of Today</a>
					<ul class="subnav">
						<li><a class="button" href="bestofgroup.html">Best of Your Friends</a></li>
						<li><a class="button" href="topposts.html">Top Posts</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		<br />
		<div id="title">
			<h1>TheBuzz</h1>
		</div>
	</div>
	<br />
	
	<%= yield %>

	<footer>

	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	<script type="text/javascript">
	$('nav li ul').hide().removeClass('subnav');
		$('nav li').hover(
			function () {
				$('ul', this).stop().slideDown(100);
			},
			function () {
				$('ul', this).stop().slideUp(100);
			}
			);
	// 	$(document).ready(
	// 		function () {
	// 			$('.navmenu > li').bind('mouseover', openSubnav);
	// 			$('.navmenu > li').bind('mouseover', closeSubnav);
	// 			function openSubnav(){
	// 				$(this).find('subnav').css('visibility', 'visible');
	// 			};
	// 			function closeSubnav(){
	// 				$(this).find('subnav').css('visibility', 'hidden');
	// 			};
	// 		});
// </script>

<script type="text/javascript">
	$(document).ready (function(){
		$('h1').slideDown('slow');
	});
	
</script>

</body>
</html>
